{% extends "site_base.html" %}

{% block title %}Statistics by Country{% endblock %}

{% block content %}
<h1>Statistics by Country</h1>

Total Countries = {{ total_countries }}
<br/>
Total Banknotes by country : 
<table id="stats_by_country" border="2" cellspacing="1" cellpadding="1">
	<tr>
		<th>Country</th>
		<th>Total banknotes</th>
	</tr>
	{% for row in total_banknotes_by_country %}
		<tr>
			<td>{{ row.name }}</td>
			<td>{{ row.num_notes_by_country }}</td>
		</tr>
	{% endfor %}
</table> 

{% endblock %}

